name: auto-merge-action
on:
  pull_request:
  push:


jobs:
  enable-am:
    runs-on: ubuntu-20.04
    steps:
      - name: find pr
        uses: juliangruber/find-pull-request-action@v1
        id: find-pull-request
        with:
          branch: 'auto-merge-action'
      - name: Approve pr
        uses: hmarr/auto-approve-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          pull-request-number: ${{ steps.find-pull-request.outputs.number }}
      - name: AutoMerge action
        uses: "pascalgn/automerge-action@v0.14.3"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          PULL_REQUEST: ${{ steps.find-pull-request.outputs.number }}
          MERGE_DELETE_BRANCH: true
          MERGE_METHOD: squash
          MERGE_LABELS: automerge-action