name: slash-command-dispatcher
on:
  issue_comment:
    types: [created]

jobs:
  test-dispatcher:
    if: | 
      ${{ github.event.issue.pull_request }} &&
      ( 
        ${{ startsWith(github.event.comment.body, '/ok-to-merge') }} ||
        ${{ startsWith(github.event.comment.body, '/test') }}
      )
    runs-on: ubuntu-20.04
    steps:
      - name: dispatcher message
        uses: peter-evans/slash-command-dispatch@v2
        with:
          token: ${{secrets.TAO_PTO}}
          issue-type: pull-request
          permission: write
          commands: test
          static-args: |
            level=1
            pr_number=1cfde2

  auto-label:
    if: | 
      ${{ github.event.issue.pull_request }} &&
      ( 
        ${{ startsWith(github.event.comment.body, '/ok-to-merge') }} ||
        ${{ startsWith(github.event.comment.body, '/try') }}
      )
    runs-on: ubuntu-20.04
    steps:
      - name: echo
        run: | 
          echo ${{ github.event.comment.body }}
          echo  ${{ startsWith(github.event.comment.body, '/ok-to-merge') }}
          echo ${{ startsWith(github.event.comment.body, '/try') }}
          echo ${{ github.event.issue.pull_request }}
          echo ${{ github.event.issue.pull_request.labels }}
          echo ${{ contains(github.event.issue.pull_request.labels.*.name,'ok-to-merge') }}
          echo ${{ contains(github.event.issue.pull_request.labels.*.name,'test') }}
          echo ${{ join(github.event.issue.labels.*.name,',') }}
      - name: autoLabel
        uses: actions-ecosystem/action-add-labels@v1.1.0
        if: |
            ${{ !contains(github.event.issue.labels.*.name,'ok-to-merge') }} && 
            ${{ startsWith(github.event.comment.body, '/ok-to-merge') }}
        with:
          github_token: ${{ secrets.TAO_PTO }}
          labels: ok-to-merge 