name: continuous-delivery

on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      pr_number:
          description: pull request number referenced
          required: false
      prod:
          description: just for test
          required: false
      level:
          description: just for test1
          required: false

    
jobs:
  comments-and-label:
    name: comments
    if: |
      always() &&
      (
        github.event_name == 'pull_request' ||
        github.event_name == 'workflow_dispatch'
      )
    runs-on: ubuntu-20.04
    steps:
      - name: check test level
        id: checkLevel
        if: always()
        run: |
          echo ${{github.event.inputs.pr_number}}
          echo ${{github.event.inputs.test}}
          echo ${{github.event.inputs}}
          echo "::set-output name=labelsToPR::e2e-run"
          if [[ ${{ github.event_name }} == 'pull_request' ]];
          then
            echo "::set-output name=prNumber::${{github.event.number}}"
          elif [[ ${{ github.event_name }} == 'workflow_dispatch' ]];
          then
            echo "::set-output name=prNumber::${{github.event.inputs.pr_number}}"
          fi
      - name: checkout
        uses: actions/checkout@v2
      - name: unlabel
        id: unlabel
        if: always() &&
              steps.checkLevel.outputs.prNumber != '' 
        uses: actions-ecosystem/action-remove-labels@v1
        with:
          github_token: ${{secrets.TAO_PTO}}
          number: ${{ steps.checkLevel.outputs.prNumber }}
          labels: ${{ steps.checkLevel.outputs.labelsToPR}}
      - name: add label
        id: label
        if: always() &&
              steps.checkLevel.outputs.prNumber != '' 
        uses: actions-ecosystem/action-add-labels@v1
        with:
          github_token: ${{secrets.TAO_PTO}}
          number: ${{ steps.checkLevel.outputs.prNumber }}
          labels: ${{ steps.checkLevel.outputs.labelsToPR}}
      # - name: Run the action 
      #   uses: Sibz/github-status-action@v1
      #   with: 
      #     authToken: ${{secrets.TAO_PTO}}
      #     context: 'Test run'
      #     description: 'Passed'
      #     state: 'success'
      #     sha: ${{github.event.pull_request.head.sha || github.sha}}